/* frontend/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #212A31; /* Set global body background to the new brand-dark */
  color: #F0F0F0; /* Default light text color */
}
