/* frontend/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #F7F8FA; /* A light background color for the body */
  color: #1F2937; /* Default dark text color */
}
